/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "DINLight";
  src: url("./DINLight.ttf") format("truetype");
}

@font-face {
  font-family: "MaragsÉ";
  src: url("./MaragsÉ.otf") format("opentype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("./roboto-thin.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: "DINLight";
  min-height: 25vh;
  width: 100%;
}

.left {
  background-color: #f6e4ac;
  flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
}
.right {
  background-color: #e1a59c;
  flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 720px) {
  .header .right {
    flex-grow: 0;
  }
}

.description {
  font-size: 1.5rem;
}

.description1 {
  font-size: 1.2rem;
  /* font-family: 'DINLight'; */
  font-family: "Roboto-Thin", arial;
}

@media only screen and (min-width: 720px) {
  .description,
  .description1 {
    width: 25rem;
  }
}

.citation {
  font-family: "MaragsÉ";
  font-size: 1.5rem;
}

.portrait {
  width: 100%;
  max-width: 700px;
  min-width: 200px;
  margin: auto;
}

.begin {
  color: #a7aab3;
}

.end {
  color: #d1714f;
  font-size: 2.5rem;
  position: absolute;
  max-width: 25rem;
}
@media only screen and (max-width: 720px) {
  .end {
    position: inherit;
  }
}

.mappe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #fff;
  font-family: "MaragsÉ";
  /* height: 50vh; */
  flex-wrap: wrap;
}

.mappe > .left {
  background-color: #fff;
  flex: 1;
}

.mappe > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: #fff;
  border-left: 0.7rem solid #d1714f;
  flex: 1;
  width: 500px;
  /* max-width: 100%; */
  padding: 2rem;
}
@media only screen and (max-width: 720px) {
  .mappe > .right {
    border-left: 0;
  }
}
@media only screen and (min-width: 520px) {
  .mappe .right {
    min-width: 400px;
  }
  .mappe .left {
    min-width: 500px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: "Roboto-Thin";
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
  width: 100%;
}

.footer > .left {
  padding: 2rem;
}

@media only screen and (max-width: 720px) {
  .footer > .right {
    display: none;
  }
}
